## FA19-BCS-034
## Abdul Rehman
## G-2

In [1]:
#import libraries
from sklearn import preprocessing
import pandas as pd

from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

#import ML evaluation metrics
from sklearn.metrics import accuracy_score, f1_score,recall_score,precision_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import ShuffleSplit
from sklearn import metrics, model_selection
from sklearn.model_selection import cross_val_predict,cross_val_score,LeavePOut  

#import scikitplot to plot confusion matrix
import scikitplot as skplt

#### Read Dataset

In [2]:
#read CSV (dataset) file
df_gender = pd.read_csv('./gender-prediction.csv')
df_gender

    height  weight beard hair_length  shoe_size scarf eye_color  gender
0       71     176   yes       short         44    no     black    male
1       68     165    no        bald         41    no     black    male
2       62     132    no      medium         37   yes      blue  female
3       65     138    no        long         38    no      gray  female
4       70     197   yes      medium         43    no      gray    male
..     ...     ...   ...         ...        ...   ...       ...     ...
75      65      99    no       short         39   yes     green  female
76      61      98    no       short         37    no     brown  female
77      67     119   yes       short         40    no     black    male
78      70     190   yes      medium         43    no      gray    male
79      62     142   yes        long         37    no      blue  female

[80 rows x 8 columns]

#### Print the info about dataset

In [3]:
df_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   height       80 non-null     int64
 1   weight       80 non-null     int64
 2   beard        80 non-null     object
 3   hair_length  80 non-null     object
 4   shoe_size    80 non-null     int64
 5   scarf        80 non-null     object
 6   eye_color    80 non-null     object
 7   gender       80 non-null     object
dtypes: int64(3), object(5)
memory usage: 5.1+ KB

In [4]:
df_gender['gender'].value_counts()

male      46
female    34
Name: gender, dtype: int64

### Question 2

In [6]:
#seperate dependent (output) and independent (input) variables
input_columns = df_gender.drop('gender', axis=1)
output_column = pd.DataFrame(df_gender['gender'])
output_column

    gender
0     male
1     male
2   female
3   female
4     male
..     ...
75  female
76  female
77    male
78    male
79  female

[80 rows x 1 columns]

In [7]:
labels = preprocessing.LabelEncoder()

In [8]:
#encodign the output
output_column.gender = labels.fit_transform(output_column.gender)
output_column

    gender
0        1
1        1
2        0
3        0
4        1
..     ...
75       0
76       0
77       1
78       1
79       0

[80 rows x 1 columns]

In [9]:
#encoding the categorical attribute of input
input_columns.beard = labels.fit_transform(input_columns.beard)
input_columns.hair_length = labels.fit_transform(input_columns.hair_length)
input_columns.scarf = labels.fit_transform(input_columns.scarf)
input_columns.eye_color = labels.fit_transform(input_columns.eye_color)

#### Test split ( 67% and 33%)

In [10]:
#split the data
X_train, x_test, Y_train, y_test = train_test_split(input_columns, output_column, test_size = 0.33, random_state = 1)

##### Random Forest Model

In [12]:
#load the classifier
model_1 = RandomForestClassifier()

In [ ]:
#train the random forest classifier model using training data
model_1.fit(X_train,Y_train)

In [14]:
#make prediction using the random forest classifier trained model
prediction_1 = model_1.predict(x_test)

In [15]:
#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction_1)*100
print(model_acc)

100.0

In [16]:
#generate confusion matrix
model_cm = metrics.confusion_matrix(y_test, prediction_1)
print(model_cm)

[[14  0]
 [ 0 13]]

In [17]:
model_cl_rep = metrics.classification_report(y_test, prediction_1)
print(model_cl_rep)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        14
           1       1.00      1.00      1.00        13

    accuracy                           1.00        27
   macro avg       1.00      1.00      1.00        27
weighted avg       1.00      1.00      1.00        27

##### Support Vector Machine

In [18]:
#load the model
model_2 = SVC()

In [ ]:
#train the SVC model using training data
model_2.fit(X_train,Y_train)

In [20]:
#make prediction using the svc trained model
prediction_2 = model_2.predict(x_test)

In [21]:
#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction_2)*100
print(model_acc)

77.77777777777779

In [22]:
#generate confusion matrix
model_cm = metrics.confusion_matrix(y_test, prediction_2)
print(model_cm)

[[11  3]
 [ 3 10]]

In [23]:
model_cl_rep = metrics.classification_report(y_test, prediction_2)
print(model_cl_rep)

              precision    recall  f1-score   support

           0       0.79      0.79      0.79        14
           1       0.77      0.77      0.77        13

    accuracy                           0.78        27
   macro avg       0.78      0.78      0.78        27
weighted avg       0.78      0.78      0.78        27

##### Multilayer Perceptron

In [24]:
#load the model
model_3 = MLPClassifier(random_state=1, max_iter=250)

In [ ]:
#train the MLP using training data
model_3.fit(X_train,Y_train)

In [26]:
#make prediction using the MLP trained model
prediction_3 = model_3.predict(x_test)

In [27]:
#calcualte and print accuracy
model_acc = accuracy_score(y_test, prediction_3)*100
print(model_acc)

48.148148148148145

In [28]:
#generate confusion matrix
model_cm = metrics.confusion_matrix(y_test, prediction_3)
print(model_cm)

[[ 0 14]
 [ 0 13]]

#### Rerun the experiment using train/test split ratio of 80/20

In [29]:
#split the data
X_train, x_test, Y_train, y_test = train_test_split(input_columns, output_column, test_size = 0.20, random_state = 1)

##### Random Forest Model

In [ ]:
#train the random forest classifier model using training data
model_1.fit(X_train,Y_train)

In [31]:
#make prediction using the random forest classifier trained model
prediction_1_new = model_1.predict(x_test)

In [32]:
#calcualte and print accuracy
model_1_accuracy = accuracy_score(y_test, prediction_1_new)*100
print(model_1_accuracy)

100.0

In [33]:
#generate confusion matrix
model_1_cm = metrics.confusion_matrix(y_test, prediction_1_new)
print(model_1_cm)

[[9 0]
 [0 7]]

In [34]:
model_cl_rep = metrics.classification_report(y_test, prediction_1_new)
print(model_cl_rep)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         9
           1       1.00      1.00      1.00         7

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

##### Support Vector Machine

In [ ]:
#train the SVC model using training data
model_2.fit(X_train,Y_train)

In [36]:
#make prediction using the svc trained model
prediction_2_new = model_2.predict(x_test)

In [37]:
#calcualte and print accuracy
model_2_accuracy = accuracy_score(y_test, prediction_2_new)*100
print(model_2_accuracy)

87.5

In [38]:
#generate confusion matrix
model_2_cm = metrics.confusion_matrix(y_test, prediction_2_new)
print(model_2_cm)

[[8 1]
 [1 6]]

In [39]:
model_cl_rep = metrics.classification_report(y_test, prediction_2_new)
print(model_cl_rep)

              precision    recall  f1-score   support

           0       0.89      0.89      0.89         9
           1       0.86      0.86      0.86         7

    accuracy                           0.88        16
   macro avg       0.87      0.87      0.87        16
weighted avg       0.88      0.88      0.88        16

##### Multilayer Perceptron

In [ ]:
#train the MLP using training data
model_3.fit(X_train,Y_train)

In [41]:
#make prediction using the MLP trained model
prediction_3_new = model_3.predict(x_test)

In [42]:
#calcualte and print accuracy
model_3_accuracy = accuracy_score(y_test, prediction_3_new)*100
print(model_3_accuracy)

43.75

In [43]:
#generate confusion matrix
model_3_cm = metrics.confusion_matrix(y_test, prediction_3_new)
print(model_3_cm)

[[0 9]
 [0 7]]

In [44]:
model_cl_rep = metrics.classification_report(y_test, prediction_3_new,zero_division=0)
print(model_cl_rep)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         9
           1       0.44      1.00      0.61         7

    accuracy                           0.44        16
   macro avg       0.22      0.50      0.30        16
weighted avg       0.19      0.44      0.27        16

##### Name 2 attributes that you believe are the most “powerful” in the prediction task. Explain why?

In [45]:
input_columns

    height  weight  beard  hair_length  shoe_size  scarf  eye_color
0       71     176      1            3         44      0          0
1       68     165      0            0         41      0          0
2       62     132      0            2         37      1          1
3       65     138      0            1         38      0          3
4       70     197      1            2         43      0          3
..     ...     ...    ...          ...        ...    ...        ...
75      65      99      0            3         39      1          4
76      61      98      0            3         37      0          2
77      67     119      1            3         40      0          0
78      70     190      1            2         43      0          3
79      62     142      1            1         37      0          1

[80 rows x 7 columns]

Beard and scarf are more powerful attribute in predicting task. These are the attributes which mainly distinguish between male and female. Female dont have beard and men do not wear scarf. Male and female may have same value of other attributes. Like both male and female can have short hair length. They may have same value of height, shoe size and weight.

##### Rerun the experiment (using 80/20 train/test split) with Two selected attribute

In [46]:
#make dataframe of two selcted columns
new_input_pd = pd.DataFrame(list(zip(input_columns.beard, input_columns.scarf)),columns=['Beard', 'Scarf'])
new_input_pd

    Beard  Scarf
0       1      0
1       0      0
2       0      1
3       0      0
4       1      0
..    ...    ...
75      0      1
76      0      0
77      1      0
78      1      0
79      1      0

[80 rows x 2 columns]

In [47]:
output_pd = pd.DataFrame(output_column['gender'])
output_pd

    gender
0        1
1        1
2        0
3        0
4        1
..     ...
75       0
76       0
77       1
78       1
79       0

[80 rows x 1 columns]

In [48]:
#split the data
X_train, x_test, Y_train, y_test = train_test_split(new_input_pd, output_column, test_size = 0.20, random_state = 1)

##### Random Forest Model

In [ ]:
#train the Random Forest using training data
model_1.fit(X_train,Y_train)

In [51]:
#make prediction using the random forest classifier trained model
prediction_1 = model_1.predict(x_test)

In [52]:
#calcualte and print accuracy
model_1_accuracy = accuracy_score(y_test, prediction_1)*100
print(model_1_accuracy)

93.75

In [53]:
#generate confusion matrix
model_1_cm = metrics.confusion_matrix(y_test, prediction_1)
print(model_1_cm)

[[9 0]
 [1 6]]

In [54]:
model_cl_rep = metrics.classification_report(y_test, prediction_1)
print(model_cl_rep)

              precision    recall  f1-score   support

           0       0.90      1.00      0.95         9
           1       1.00      0.86      0.92         7

    accuracy                           0.94        16
   macro avg       0.95      0.93      0.94        16
weighted avg       0.94      0.94      0.94        16

##### Support Vector Machine Model

In [ ]:
#train the Random Forest using training data
model_2.fit(X_train,Y_train)

In [56]:
#make prediction using the svc trained model
prediction_2 = model_2.predict(x_test)

In [57]:
#calcualte and print accuracy
model_2_accuracy = accuracy_score(y_test, prediction_2)*100
print(model_2_accuracy)

93.75

In [58]:
#generate confusion matrix
model_2_cm = metrics.confusion_matrix(y_test, prediction_2)
print(model_2_cm)

[[9 0]
 [1 6]]

In [59]:
model_cl_rep = metrics.classification_report(y_test, prediction_2)
print(model_cl_rep)

              precision    recall  f1-score   support

           0       0.90      1.00      0.95         9
           1       1.00      0.86      0.92         7

    accuracy                           0.94        16
   macro avg       0.95      0.93      0.94        16
weighted avg       0.94      0.94      0.94        16

##### Multilayer Perceptron Model

In [ ]:
#train the Random Forest using training data
model_3.fit(X_train,Y_train)

In [61]:
#make prediction using the MLP trained model
prediction_3 = model_3.predict(x_test)

In [62]:
#calcualte and print accuracy
model_3_accuracy = accuracy_score(y_test, prediction_3)*100
print(model_3_accuracy)

93.75

In [63]:
#generate confusion matrix
model_3_cm = metrics.confusion_matrix(y_test, prediction_3)
print(model_3_cm)

[[9 0]
 [1 6]]

In [64]:
model_cl_rep = metrics.classification_report(y_test, prediction_3)
print(model_cl_rep)

              precision    recall  f1-score   support

           0       0.90      1.00      0.95         9
           1       1.00      0.86      0.92         7

    accuracy                           0.94        16
   macro avg       0.95      0.93      0.94        16
weighted avg       0.94      0.94      0.94        16

### Question 3

In [65]:
#input
input_columns

    height  weight  beard  hair_length  shoe_size  scarf  eye_color
0       71     176      1            3         44      0          0
1       68     165      0            0         41      0          0
2       62     132      0            2         37      1          1
3       65     138      0            1         38      0          3
4       70     197      1            2         43      0          3
..     ...     ...    ...          ...        ...    ...        ...
75      65      99      0            3         39      1          4
76      61      98      0            3         37      0          2
77      67     119      1            3         40      0          0
78      70     190      1            2         43      0          3
79      62     142      1            1         37      0          1

[80 rows x 7 columns]

##### Decision Tree Model

In [66]:
model = DecisionTreeClassifier()

##### Monte Carlo Cross Validation

In [67]:
split=ShuffleSplit(n_splits=10,test_size=0.20,random_state=1)

In [68]:
#f1 score using monte carlo cross validation
f1_score = cross_val_score(model, input_columns, output_column,scoring='f1', cv=split).mean()
f1_score

0.969898728722258

##### Leave p-out cross-validation

In [69]:
leave_pout = LeavePOut(p=3)  
leave_pout.get_n_splits(input_columns)

82160

In [ ]:
#f1 score using leave p-out cross validation
f1_score = cross_val_score(model, input_columns, output_column,scoring='f1', cv=leave_pout).mean()

In [71]:
f1_score

0.8733008763388511

### Question 4

#### Read the dataset after adding 5 new instances

In [72]:
#read CSV (dataset) file
df_gender_updated = pd.read_csv('./gender-prediction-updated.csv')
df_gender_updated

    height  weight beard hair_length  shoe_size scarf eye_color  gender
0       71     176   yes       short         44    no     black    male
1       68     165    no        bald         41    no     black    male
2       62     132    no      medium         37   yes      blue  female
3       65     138    no        long         38    no      gray  female
4       70     197   yes      medium         43    no      gray    male
..     ...     ...   ...         ...        ...   ...       ...     ...
80      72      69    no       short         42    no     brown    male
81      65      71   yes       short         39    no     black    male
82      57      47    no        long         37   yes      gray  female
83      68      83   yes       short         38    no     brown    male
84      62      50    no      medium         36   yes     black  female

[85 rows x 8 columns]

In [73]:
#seperate dependent (output) and independent (input) variables
x = df_gender_updated.drop('gender', axis=1)
y = pd.DataFrame(df_gender_updated['gender'])
y

    gender
0     male
1     male
2   female
3   female
4     male
..     ...
80    male
81    male
82  female
83    male
84  female

[85 rows x 1 columns]

In [74]:
labels = preprocessing.LabelEncoder()

In [75]:
#encodign the output
y.gender = labels.fit_transform(y.gender)
y

    gender
0        1
1        1
2        0
3        0
4        1
..     ...
80       1
81       1
82       0
83       1
84       0

[85 rows x 1 columns]

In [76]:
#encoding the categorical attribute of input
x.beard = labels.fit_transform(x.beard)
x.hair_length = labels.fit_transform(x.hair_length)
x.scarf = labels.fit_transform(x.scarf)
x.eye_color = labels.fit_transform(x.eye_color)

#### Seperate the training data (80 instances) and testing data ( 5 instances)

In [77]:
#accessing a multiple records (rows) from the DataFrame using numerical index
training = x.iloc[:80]
training_output = y.iloc[:80]

In [78]:
testing = x.iloc[80:]
testing_output = y.iloc[80:]

##### Gausian Naive Bayes Model

In [79]:
model = GaussianNB()

In [ ]:
model.fit(training,training_output)

In [81]:
#make prediction using the gausian trained model
predictions = model.predict(testing)

In [82]:
model_accuracy = accuracy_score(testing_output, predictions)*100
print(model_accuracy)

100.0

In [83]:
model_recall = recall_score(testing_output,predictions)
model_recall

1.0

In [84]:
model_precision = precision_score(testing_output,predictions)
model_precision

1.0